@inherits LayoutComponentBase

<div class="page">
    <main>
        <NavMenu />

        <article class="content px-4 py-3">
            @Body
        </article>
    </main>
</div>

<footer class="text-center py-4 text-muted border-top mt-5">
    &copy; 2026 SupportHub - Portfolyo Projesi
</footer>